/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.coverage.*
.cache/
.swp
downloaded
downloaded/*
test
test/*
path_urls.json
url_names.json

# Windows
Thumbs.db
